---
import { Image } from 'astro:assets';

interface Founder {
  name: string;
  roles: string[];
  image: string;
}

interface Props {
  founders?: Founder[];
  title?: string;
}

const { 
  founders = [
    {
      name: "Reecher",
      roles: [
        "Lead Director",
        "Instructor",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Fee0448d0-495e-45f4-8e53-387aecbd0c81%2F3ECD6213-1791-4F1C-8EA5-0D4BF63A152E.png/size/w=2000?exp=1747113967&sig=JR4oAJHUkLpnhnjsadhXy1G0tZIuetsWUw9w-Xof1cE&id=1df054ab-6f39-8039-9b95-ccd2245ab41c&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b",
    },
    {
      name: "Schmikal",
      roles: [
        "Technical Director",
        "Web Developer",
        "Instructor",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Fd113a655-e460-4266-8e71-414a5eec1000%2FPXL_20250502_025915307.jpg/size/w=2000?exp=1747113485&sig=PLb0j2vA2sNFK7M_0m0HGSRYfxWpCyLdk4p1bU0SjDc&id=1df054ab-6f39-8072-9444-c6d14845ab4a&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Peethan",
      roles: [
        "Co-Lead",
        "Instructor",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2F185bd83d-ad67-4a38-bc41-26208e9e281c%2FIMG_3257.jpg/size/w=2000?exp=1747114176&sig=IG6N0Qus-I7YckvaGi5t4i74YQZHRpx756wmfankZgE&id=1df054ab-6f39-80f7-8e64-d83d41699c89&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Mote",
      roles: [
        "Curriculum Developer",
        "Instructor",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2F85524832-1719-496c-9e13-83adb2a2c04a%2F4709653277524507097.jpeg/size/w=2000?exp=1747114437&sig=XtmAA6x-YrXIOy1TpI7gh8GSkyRMB6Y2BVricMTSJ8Q&id=1df054ab-6f39-8006-9371-d06c85589ffa&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Rav",
      roles: [
        "Technical",
        "Instructor",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Fe384af8c-52ce-4c13-9bb4-b982dfcc2b1d%2FIMG_8653.jpg/size/w=2000?exp=1747114513&sig=iXoc51vSfGq71Lo3Cvi7he8ydINgGL9pwur2P4LRjLA&id=1df054ab-6f39-8001-a88e-d4543393f7d1&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Jog",
      roles: [
        "Event Coordinator",
        "Partnership Manager",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2F9a8e1a7a-72af-416c-9e31-fb70f090b7f3%2F1b372d73-afa7-4058-b620-574a09d62b951.jpg/size/w=2000?exp=1747114566&sig=NSo1boYQYJPmxR_PyEMUpbnyK3iLwsEXDRSefyWOAhk&id=1df054ab-6f39-8056-b761-c922a8d85dc5&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Gayr",
      roles: [
        "Curriculum Developer",
        "Instructor",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Ff08308da-cca4-465a-9f7c-06e9c18e7603%2FIMG_3528.jpeg/size/w=2000?exp=1747114695&sig=5aJDRS9vm0tOBjSo7PQS9cJm6iFgODc3sn5oO8TnoIg&id=1e7054ab-6f39-801d-ad0a-fe99b02f8710&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Mi",
      roles: [
        "Course Moderator",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Ff0a84121-04c3-48c0-b186-335108592164%2F92b99ecb-5120-458b-a470-b9548db2d80a.jpg/size/w=2000?exp=1747114762&sig=bqd_nVzX6BQqYS6M3c9mBarHMW2TTP8DJdwxRFGINoQ&id=1df054ab-6f39-800e-a746-e124ba2913a6&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Jasper Springs",
      roles: [
        "Instructor",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Fd2d7f62a-5156-42e0-8154-4dfa1e79b356%2FIMG_3556.jpeg/size/w=2000?exp=1747115041&sig=jb94fI9F-wfcAVhBPiacnLrkqS8qJ1rpX97p75D977I&id=1e7054ab-6f39-8053-81a6-cc50079a000b&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Mi",
      roles: [
        "Course Moderator",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Ff0a84121-04c3-48c0-b186-335108592164%2F92b99ecb-5120-458b-a470-b9548db2d80a.jpg/size/w=2000?exp=1747114762&sig=bqd_nVzX6BQqYS6M3c9mBarHMW2TTP8DJdwxRFGINoQ&id=1df054ab-6f39-800e-a746-e124ba2913a6&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
    {
      name: "Mi",
      roles: [
        "Course Moderator",
      ],
      image: "https://img.notionusercontent.com/s3/prod-files-secure%2F5abbb3d8-d35d-41b6-853e-9c19402c8d4c%2Ff0a84121-04c3-48c0-b186-335108592164%2F92b99ecb-5120-458b-a470-b9548db2d80a.jpg/size/w=2000?exp=1747114762&sig=bqd_nVzX6BQqYS6M3c9mBarHMW2TTP8DJdwxRFGINoQ&id=1df054ab-6f39-800e-a746-e124ba2913a6&table=block&userId=190d872b-594c-8167-a4b7-000240087e2b"
    },
  ],
  title = "Our Founders" 
} = Astro.props;
---

<section class="py-12 px-4 max-w-1/2">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-center mb-12">{title}</h2>

    <div class="flex flex-wrap gap-8">
      {founders.map((founder) => (
        <div class="flex flex-col items-center group">
          <div class="relative mb-4 overflow-hidden rounded-full w-40 h-40 border-2 border-gray-100 shadow-md transition-transform duration-300 group-hover:scale-105">
            <img
            src={founder.image || "/assets/founders/frog.svg"}
              alt={`Photo of ${founder.name}`}
              class="object-cover w-full h-full"
            />
          </div>
          <h3 class="font-semibold text-lg text-center">{founder.name}</h3>
          <!-- <p class="text-gray-600 text-center">{founder.role}</p> -->
          <ul class="text-gray-600 text-center">
            {founder.roles.map((role) => (
              <li>{role}</li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </div>
</section>

